{% extends 'general/base.html.twig' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block body %}
    <div class="container">
        <h1>Créer un nouveau mot de passe</h1>
        {{ form(passForm) }}
    </div>
{% endblock %}