{% extends ('general/base.html.twig') %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="public/img/central.jpg" class="d-block w-100" alt="...">
            </div>
{#            <div class="carousel-item">#}
{#                <img src="..." class="d-block w-100" alt="...">#}
{#            </div>#}
{#            <div class="carousel-item">#}
{#                <img src="..." class="d-block w-100" alt="...">#}
{#            </div>#}
        </div>
    </div>
{% endblock %}
