<div class="card card-danger">
    <div class="card-header">
        <h3 class="card-title">{{ incident.title }}</h3>
        <div class="card-tools">
            <span class="badge badge-dark">{{ incident.category.name }}</span>
            <span class="badge badge-secondary">{{ incident.city.codePostal }} - {{ incident.city.name }}</span>
        </div>
    </div>
    <div class="card-body">
        <h2>{{ incident.title }} - {{ incident.city.name }}</h2>
        <hr>
        {{ incident.description }}
    </div>
    <div class="card-footer text-center">
        <p>Signalé le : {{ incident.date|date('d/m/Y') }} - Par
            : {{ incident.author.firstName }} {{ incident.author.lastName }}</p>
    </div>
</div>