<div class="card card-outline card-success">
    <div class="card-header">
        <h3 class="card-title">{{ action.title }}</h3>
        <div class="card-tools">
            <span class="badge badge-danger">{{ action.incident.title }}</span>
        </div>
    </div>
    <div class="card-body">
        {{ action.description }}
    </div>
    <div class="card-footer">
        {{ action.pilot.firstName }} - {{ action.pilot.lastName }}
    </div>
</div>