<div class="card card-outline card-success short_card">
    <div class="card-header">
        <h3 class="card-title">{{ action.title|u.truncate(25, '...') }}</h3>
    </div>
    <div class="card-body">
        {{ action.description|u.truncate(29, '...') }}
    </div>
    <div class="card-footer">
        {{ action.pilot.firstName }} - {{ action.pilot.lastName }}
    </div>
</div>