{% extends 'general/base.html.twig' %}
{% block title %}Catégories{% endblock %}
{% block body %}
    <div class="container">
        <h1>Liste des catégories</h1>
        <div class="row justify-content-center mt-3 mb-3">
            <a href="{{ path('create_category') }}" class="btn btn-sm btn-secondary">Créer une catégorie</a>
        </div>
        <table class="table text-center">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Opération</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <div class="dropdown">
                            <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <i class="fas fa-cogs"></i>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{{ path('update_category', {id: category.id}) }}">Modifier</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{{ path('delete_category', {id: category.id , _csrf_token: csrf_token('delete_category')}) }}">Supprimer</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
