{% extends 'general/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h1>Événement</h1>
    {% if app.user.slug == action.pilot.slug or is_granted('ROLE_ADMIN') %}
        <div class="row justify-content-center">
            <a class="btn btn-sm btn-secondary mr-2"
               href="{{ path('update_action', {slug : action.incident.slug, id: action.id }) }}">Modifier</a>
            <a class="btn btn-sm btn-danger ml-2"
               href="{{ path('delete_action', {slug : action.incident.slug, id: action.id, _csrf_token: csrf_token('delete_action') }) }}"
               onsubmit="return confirm('Voulez-vous vraiment supprimé ?');">Supprimer</a>
        </div>z
        <hr>
    {% endif %}
    {% include ('partials/card_action.html.twig') %}
    <hr>
    <div class="row justify-content-center">
        {% if app.user.actionParticipation.count == 1 %}
            <a class="btn btn-danger"
               href="{{ path('remove_user_an_action', {slug : action.incident.slug, id : action.id}) }}">Je me dégonfle
                !</a>
        {% else %}
            <a class="btn btn-success"
               href="{{ path('add_user_an_action', {slug : action.incident.slug, id : action.id}) }}">Je participe !</a>
        {% endif %}
    </div>
    <hr>
    <h2>Liste des participants</h2>
    <ul>
        {% for participant in action.participant %}
            <li>{{ participant.firstname }} {{ participant.lastname }}</li>
        {% endfor %}
    </ul>
{% endblock %}