{% extends 'general/base.html.twig' %}
{% block title %}{{ operation }} un évenement{% endblock %}
{% block body %}
    <h1>{{ operation }} un évenement</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}