<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DataRisk - {% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body class="sidebar-mini layout-fixed control-sidebar-open accent-orange text-sm">
<header>
    {% include ('general/navbar.html.twig') %}
</header>
<main>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>
</main>
<footer>

</footer>
{{ encore_entry_script_tags('app') }}
<div class="container justify-content-center">
    {% for label, messages in app.flashes %}

        <div id="toast-container" class="toast-top-right">
            <div class="toast toast-{{ label }}" aria-live="assertive" aria-atomic="true" style="">
                {% for message in messages %}
                    <div class="toast-message">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% block javascripts %}{% endblock %}

</body>
</html>
