
    {{ form(form, {'name': 'search-city'}) }}


<script>
    /** First : create a local variable to save all cities name */
    let arrayCitiesName = [];

    /** Autocomplete treatment */
    function autocomplete(inp) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        let currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            let a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("div");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items basicAutoSelect");

            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);


            /*for each item in the array...*/
            for (let i = 0; i < arrayCitiesName.length; i++) {

                /*check if the item starts with the same letters as the text field value:*/
                if (arrayCitiesName[i]['name'].substr(0, val.length).toUpperCase() === val.toUpperCase()) {

                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");

                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arrayCitiesName[i]['name'].substr(0, val.length) + "</strong>";
                    b.innerHTML += arrayCitiesName[i]['name'].substr(val.length);
                    b.innerHTML += " - <strong>" + arrayCitiesName[i]['codePostal'] + "</strong>";

                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arrayCitiesName[i]['codeInsee'] + "'>";

                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {

                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;

                        let $form = document.querySelector('form');
                        $form.submit();

                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });

        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            let x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode === 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode === 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode === 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (let i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            let x = document.getElementsByClassName("autocomplete-items");
            for (let i = 0; i < x.length; i++) {
                if (elmnt !== x[i] && elmnt !== inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    /** Setup the autocomplete method to the field : search_cities */
    autocomplete(document.querySelector('#name'));

    /**
     * Ajax call to get the Json file of all city names
     */
    function getJsonAllCitiesNames() {
        // Create a XMLHttpRequest to send a request to the controler to send the Json
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/cities/getAll');
        xhr.onload = function () {
            // if the return code is 200, everything is alright
            if (xhr.status === 200) {
                // We decode the Json returned from the controller
                arrayCitiesName = JSON.parse(xhr.responseText);
            } else {
                alert('Error while loading the city\'s name');
            }
        };
        xhr.send();
    }

    /**
     * Initialize the city's name list to the local variable
     */
    window.addEventListener('load', () => {
        getJsonAllCitiesNames();
    });
</script>