<!-- Navbar -->
<nav class="{% if app.user %}main-header{% endif %} navbar navbar-expand navbar-light navbar-orange">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
{#        <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#               aria-haspopup="true" aria-expanded="false">#}
{#                Help#}
{#            </a>#}
{#            <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                <a class="dropdown-item" href="#">FAQ</a>#}
{#                <a class="dropdown-item" href="#">Support</a>#}
{#                <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="#">Contact</a>#}
{#            </div>#}
{#        </li>#}
    </ul>
    <!-- SEARCH FORM -->
    <div class="form-inline ml-3 autocomplete">
             {{ render(controller(
             'App\\Controller\\HomeController:searchCity'
             )) }}
    </div>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            {% if not app.user %}
            <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-dark">Connexion</a>
            <a href="{{ path('app_register') }}" class="btn btn-sm btn-outline-dark">Inscription</a>
            {% else %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Mon profil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('app_profil_user', {slug: app.user.slug}) }}">Mon profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}
        </li>
    </ul>
</nav>
<!-- /.navbar -->
{% if app.user %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-no-expand sidebar-light-orange">
    <!-- Brand Logo -->
    <a href="#" class="brand-link brand-link navbar-orange">
        <img src="#" alt="." class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">DataRisk</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img class="img-circle elevation-2" src="#" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ path('home') }}" class="d-block">DataRisk</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-legacy nav-compact" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-street-view"></i>
                        <p>
                            Maps
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-industry nav-icon"></i>
                                <p>Sites SEVESO</p>
                            </a>
                        </li>
                        {% if app.session.get('city') %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-wind nav-icon"></i>
                                <p>Qualité de l'air</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% if app.session.get('city') %}
                    {% set city = app.session.get('city') %}
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Agissons
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('show_incident_city', {codeInsee: city.codeInsee }) }}" class="nav-link">
                                <i class="fas fa-exclamation-triangle nav-icon"></i>
                                <p>Signalements</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('action') }}" class="nav-link">
                                <i class="fas fa-calendar nav-icon"></i>
                                <p>Evenements</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>
                            Administration
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-chart-line nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('index_users') }}" class="nav-link">
                                <i class="fas fa-user nav-icon"></i>
                                <p>Utilisateurs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('index_categories') }}" class="nav-link">
                                <i class="fas fa-tags nav-icon"></i>
                                <p>Catégorie</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('index_incident') }}" class="nav-link">
                                <i class="fas fa-exclamation-triangle nav-icon"></i>
                                <p>Signalements</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('action') }}" class="nav-link">
                                <i class="fas fa-calendar nav-icon"></i>
                                <p>Evenements</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Simple Link
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
{% endif %}

{# <nav class="navbar navbar-expand-lg navbar-light navbar-custom"> #}
{# <div class="container-fluid"> #}
{# <a class="navbar-brand" href="{{ path('home') }}">DataRiskV2</a> #}
{# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" #}
{# aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> #}
{# <span class="navbar-toggler-icon"></span> #}
{# </button> #}
{# <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
{# <ul class="navbar-nav me-auto mb-2 mb-lg-0"> #}
{# <li class="nav-item"> #}
{# <a class="nav-link active" aria-current="page" href="#">Accueil</a> #}
{# </li> #}
{# {% if is_granted('ROLE_USER') %} #}
{# <li class="nav-item"> #}
{# <a class="nav-link" href="#"> A définir !</a> #}
{# </li> #}
{# {% else %} #}
{# <li class="nav-item"> #}
{# <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a> #}
{# </li> #}
{# {% endif %} #}
{# {% if is_granted('ROLE_ADMIN') %} #}
{# <div class="nav-item dropdown"> #}
{# <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" #}
{# data-bs-toggle="dropdown" aria-expanded="false"> #}
{# Administration #}
{# </a> #}
{# <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> #}
{# <a class="dropdown-item" href="{{ path('index_users') }}">Membres</a> #}
{# <li><a class="dropdown-item" href="#">Another action</a></li> #}
{# <li><a class="dropdown-item" href="#">Something else here</a></li> #}
{# </ul> #}
{# </div> #}
{# {% endif %} #}
{# </ul> #}
{# <div class="flex-row"> #}
{# {{ render(controller( #}
{# 'App\\Controller\\HomeController:searchCity' #}
{# )) }} #}
{# </div> #}
{# <div class="form-inline my-2 my-lg-0 mr-4"> #}
{# {% if is_granted('ROLE_USER') %} #}
{# <div class="nav-item dropdown"> #}
{# <a href="#" class="btn-outline-dark nav-link dropdown-toggle" role="button" id="navbarDropdown" #}
{# data-bs-toggle="dropdown" #}
{# aria-expanded="false"> #}
{# Bonjour {{ app.user.lastname }} !</a> #}
{# <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> #}
{# <li><a class="dropdown-item" href="{{ path('app_profil_user', {slug: app.user.slug }) }}"><i #}
{# class="fas fa-user"></i> Mon profil</a></li> #}
{# <li> #}
{# <hr class="dropdown-divider"> #}
{# </li> #}
{# <li><a href="{{ path('app_logout') }}" class="dropdown-item"><i class="fas fa-power-off"></i> Se #}
{# déconnecter</a></li> #}
{# {% else %} #}
{# <li><a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-dark my-2 my-sm-0">Espace #}
{# membre</a></li> #}
{# {% endif %} #}
{# </ul> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </div> #}
{# </nav> #}


