{% extends 'general/base.html.twig' %}
{% block title %}{{ incident.title }}{% endblock %}
{% block body %}
    <h1>Signalement</h1>
    {% include ('partials/card_incident.html.twig') %}
    <div class="row justify-content-center mt-4">
        <a href="{{ path('add_action', {slug: incident.slug}) }}" class="btn btn-sm btn-outline-dark mb-3">Créér un évenement</a>
    </div>
    <hr>
    <h2 class="text-center">Evénement(s)</h2>
    <div class="row mt-3">
    {% for action in incident.actions %}
        <div class="col-lg-3">
            {% include ('partials/short_card_action.html.twig') %}
        </div>
    {% endfor %}
    </div>
{% endblock %}