{% extends 'general/base.html.twig' %}
{% block title %}Incident{% endblock %}
{% block body %}
    <h1>Liste des incidents</h1>
    <hr>
    <div class="container">
        <div class="row justify-content-center">
            <a href="{{ path('create_incident') }}" class="btn btn-sm btn-danger">Signaler un incident</a>
        </div>
        <hr>
        <h2>Derniers signalement publiés</h2>
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">Date signalement</th>
                <th scope="col">Titre de l'incident</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Ville</th>
                <th scope="col">Auteur</th>
                <th scope="col">Evenement(s)</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Opérations</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for incident in incidents %}
                <tr>
                    <td><a href="{{ path('display_incident', {slug: incident.slug}) }}">{{ incident.date|date('d-m-y') }}</a></td>
                    <td><a href="{{ path('display_incident', {slug: incident.slug}) }}">{{ incident.title|capitalize }}</a></td>
                    <td><a href="{{ path('display_incident', {slug: incident.slug}) }}">{{ incident.category.name }}</a></td>
                    <td><a href="{{ path('display_incident', {slug: incident.slug}) }}">{{ incident.city.codePostal }} - {{ incident.city.name }}</a></td>
                    <td><a href="{{ path('display_incident', {slug: incident.slug}) }}">{{ incident.author.firstName }} {{ incident.author.lastName }}</a></td>
                    <td>{{ incident.actions.count }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="dropdown">
                            <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{{ path('display_incident', {slug: incident.slug}) }}">Voir</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('update_incident', {slug: incident.slug}) }}">Modifier</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('delete_incident', {slug : incident.slug, _csrf_token: csrf_token('delete_incident')}) }}">Supprimer</a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination pagination-sm justify-content-center">
            {{ knp_pagination_render(incidents) }}
        </div>
    </div>
{% endblock %}
