* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

h1, h2 {
  text-align: center;
}

.autocomplete {
  position: relative;
  display: inline-block;

  .autocomplete-items {
    position: absolute;
    border: 1px solid grey;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
}

.short_card {
  height: 10rem;
}


