{% extends 'general/base.html.twig' %}
{% block title %}Ville de {{ city.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css">
    <style>
        #mapId {
            height: 40vh;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>{{ city.codePostal }} - {{ city.name }}</h1>
    <hr>
    <div class="container justify-content-center">
        <div id="mapId" class="text-center col-md-12"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Informations générales</h2>
            {% for airIndice in city.airIndices|slice(0,1) %}
                <div class="card" style="background-color: {{ airIndice.color }}">
                    <h3>Qualité de l'air</h3>
                    <p>Date : {{ airIndice.date|date('d-m-Y') }}</p>
                    <p>Indice : {{ airIndice.indice }}</p>
                    <p>Qualificatif : {{ airIndice.qualifier }}</p>
                    <p>Type : {{ airIndice.type|capitalize }}</p>
                </div>
            {% endfor %}
            <hr>
            <h3>Informations générales</h3>
            <ul>
                <li>Population : {{ city.populate }}</li>
                <li>Surface: {{ city.surface }} km <sup>2</sup></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>{{ city.naturalDisasters.count }} catastrophe(s) naturelle(s)</h2>
            <table class="table text-center">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Référence</th>
                    <th scope="col" class="align-middle">Typologie</th>
                    <th scope="col" class="align-middle">Date début</th>
                    <th scope="col" class="align-middle">Date fin</th>
                    <th scope="col" class="align-middle">Durée</th>
                    <th scope="col" class="align-middle">Date publication JO</th>
                </tr>
                </thead>
                <tbody>
                {% for disaster in city.naturalDisasters %}
                    <tr>
                        <th scope="row" class="align-middle">{{ disaster.codeNatCatna }}</th>
                        <td class="align-middle">{{ disaster.wordingRiskJo }}</td>
                        <td class="align-middle">{{ disaster.eventStartDate|date('d-m-Y') }}</td>
                        <td class="align-middle">{{ disaster.eventEndDate|date('d-m-Y') }}</td>
                        {% set duration = date(disaster.eventEndDate).diff(disaster.eventStartDate) %}
                        <td class="align-middle">{{ duration.format('%y') }} an(s), {{ duration.format('%m') }} mois
                            et {{ duration.format('%d') }} jour(s)
                        </td>
                        <td class="align-middle">{{ disaster.publicationJoDate|date('d-m-Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


    <li>
        Catastrophe(s) naturelle(s) recencée(s) :
        <ul>


        </ul>
    </li>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('map') }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

    <script>

        {# {{ dump(response) }} #}
        {# {{ dump(cities) }} #}

        let mymap = L.map('mapId').setView(
                {% for coordinates in city.geolocation.coordinates|slice(0,1) %}
            [ {{ coordinates.gpsLat }}, {{ coordinates.gpsLon }} ]
                {% endfor %}

            , 10);

        let darkMap = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWF0cmljaXMiLCJhIjoiY2tocnowcGY2MG52ZzJxcGJmZmd1Nm5tMCJ9.NIJR8RUpXw9lihmVkb7d5Q', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            minZoom: 5,
            maxZoom: 20,
            id: 'mapbox/dark-v10',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);

        let satelliteMap =
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWF0cmljaXMiLCJhIjoiY2tocnowcGY2MG52ZzJxcGJmZmd1Nm5tMCJ9.NIJR8RUpXw9lihmVkb7d5Q', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                minZoom: 5,
                maxZoom: 20,
                id: 'mapbox/satellite-streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'your.mapbox.access.token'
            });

        let outdoors =
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWF0cmljaXMiLCJhIjoiY2tocnowcGY2MG52ZzJxcGJmZmd1Nm5tMCJ9.NIJR8RUpXw9lihmVkb7d5Q', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                minZoom: 5,
                maxZoom: 20,
                id: 'mapbox/outdoors-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'your.mapbox.access.token'
            });

        let markers = L.markerClusterGroup();
        let polygonGroup = L.layerGroup();

        //Contours Cities
        let polygon = L.polygon([
            {% for coordinates in city.geolocation.coordinates %}
            [ {{ coordinates.gpsLat }}, {{ coordinates.gpsLon }} ],
            {% endfor %}
        ], {
            color: 'darkorange'
        });
        polygon.bindPopup("<h4 class='text-center'>{{ city.name }}</h4><ul><li>Population :{{ city.populate }} habitants</li><li>Surface : {{ city.surface }} km<sup>2</sup></li></ul>")
        mymap.addLayer(polygon);

        L.control.layers({
            'Vue black': darkMap,
            'Vue satellite': satelliteMap,
            'Vue outdoors': outdoors
        }, {
            'Communes': polygonGroup,
        }).addTo(mymap);


    </script>
{% endblock %}