{% extends 'general/base.html.twig' %}
{% block title %}Notation{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="container">
        <div class="row justify-content-center">
            <a href="{{ path('create_notation') }}" class="btn btn-sm btn-dark">Mettre une note</a>
        </div>
        <h1>Notation</h1>
        {% for notation in notations %}
            {{ dump(notation) }}
            {{ notation.note }}
            {{ notation.lastName }}
            {{ notation.city.name }}
            {{ notation.date|date('d/m/Y') }}
        {% endfor %}
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark">Envoyer</button>
        </div>
        <div class="dropdown">
            <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <i class="fas fa-cogs"></i>
            </div>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
{#                 <li><a class="dropdown-item" href="{{ path('display_notation') }}">Voir</a></li>#}
{#                 <li><a class="dropdown-item" href="{{ path('update_notation') }}">Modifier</a></li>#}
{#                 <li><a class="dropdown-item" href="{{ path('delete_notation') }}">Supprimer</a></li>#}
            </ul>
        </div>

    </div>
{% endblock %}


