{% extends 'general/base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h1>Notation</h1>
    <div class="card">

        {{ notation.author.firstName }} - {{ notation.author.lastName }}
        {{ notation.city.name }}
        {{ notation.date|date('d/m/Y') }}
        <a href="{{ path('add_action') }}" class="btn btn-sm btn-dark">Noter une ville</a>
    </div>
    <table class="table text-center">
        <tbody>
        {% for action in notations.actions %}
            <tr>
                <td>{{ action.title }}</td>
                <td>{{ action.pilot.firstName }} - {{ action.pilot.lastName }}</td>
                <td>8</td>
                <td><a href="{{ path('display_action') }}" class="btn btn-sm btn-info">Voir plus</a></td>
                <td><a href="{{ path('update_action') }}" class="btn btn-sm btn-secondary">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}