{% extends 'general/base.html.twig' %}
{% block title %}Page non trouvée !{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1>Oups ! La page que vous recherchez n'existe pas !</h1>
        <div class="row justify-content-center">
            <a href="{{ path('home') }}" class="btn btn-dark mt-5">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}