{% extends 'general/base.html.twig' %}
{% block title %}Profil de {{ user.lastName }}{% endblock %}
{% block body %}
    <div class="container">
        <h1>Profil {{ user.lastName }}</h1>
        <hr>
        <div class="row card text-center">
            <ul style="list-style: none" class="mt-2">
                <li><strong>Nom :</strong>{{ user.firstName }}</li>
                <li><strong>Prénom :</strong>{{ user.lastName }}</li>
                <li><strong>Email :</strong>{{ user.email }}</li>
            </ul>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h3>Droits</h3>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_USER' %}
                            <p class="badge badge-success mr-2">Utilisateur</p>
                        {% elseif role == 'ROLE_EDITOR' %}
                            <p class="badge badge-info mr-2">Editeur</p>
                        {% elseif role == 'ROLE_ADMIN' %}
                            <p class="badge badge-danger mr-2">Administrateur</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h3>Statut(s)</h3>
                    <div class="row justify-content-center">
                        {% if user.isVerified %}
                            <p class="badge badge-success">Adresse email confirmé</p>
                        {% elseif not user.isVerified %}
                            <p class="badge badge-warning">Adresse email non validé</p>
                        {% endif %}
                        {% if not user.isenabled %}
                            <p class="badge badge-danger">Utilisateur banni</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <h2>Opération(s)</h2>
            <div class="col justify-content-center">
                <a href="{{ path('app_update_user', {slug : user.slug }) }}" class="btn btn-secondary">Modifier</a>
                <a href="{{ path('app_update_password', {slug : user.slug, _csrf_token: csrf_token('update_password') }) }}" class="btn btn-warning">Changer de mot de passe</a>
            </div>
        </div>
    </div>
{% endblock %}