{% extends 'general/base.html.twig' %}
{% block title %}Edition du profil{% endblock %}
{% block body %}
    <div class="container">
        <h1>Modifier le profil {{ user.lastName }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.email) }}

        {% if is_granted(["ROLE_ADMIN"]) %}
        <p>coucou</p>
        {% endif %}
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}